body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.row-control {
    font-size: 18px;
    vertical-align: middle;
}

.row-control:hover {
    cursor: pointer;
}

.row-control:active {
    opacity: 0.6;
}

.react-table {
    border-collapse: collapse;
    max-width: 100px;
}

.react-table th, .react-table td {
    border: 1px solid #dddddd;
    padding: 2px;
    text-align: center;
}

.react-table tr:nth-child(even) {
    background: #FFFFFF;
}

.react-table tr:nth-child(odd) {
    background: #f2f5fa;
}

.react-table th, .react-table tr:nth-child(odd):hover, .react-table tr:nth-child(even):hover {
    background: #CDD1D5;
}

/*Counter*/
.react-table tr {
    counter-increment: rowNumber;
}

.react-table td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
/*End of Counter*/

.pagination {
    white-space: nowrap;
}

.pagination a {
    color: black;
    /*float: left;*/
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #337ab7;
    color: white;
    border: 1px solid #2e6da4;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination a.active:hover {
    background-color: #0f85b7;
}

.pagination, .gotoPage, .elementsOnPage {
    vertical-align: middle;
}

.navigation{
    border-collapse: collapse;
}

.navigation th, .navigation td{
    border: none;
    padding: 2px;
}

.days, .hours {
    width: 40px;
}

.autocomplete {
    width: 260px;
}
